@import url("https://fonts.googleapis.com/css?family=Rubik:regular,500,600,700,800,900"
);

@import "header.css";

body {
  background : #151518;
  color      : #eee;
  font-family: "Rubik", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  max-width: 1250px;
  margin   : 0 auto;
}