a {
  color          : $main-white;
  text-decoration: none;
}

.header {
  width     : 100%;
  z-index   : 10;
  background: $main-dark-lighter;

  /* TOP BAR */

  .top-bar {
    font-size      : 13px;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding        : 10px 0;

    &__item {
      padding: 10px 20px;

      &-heading,
      .top-bar__lang {
        font-size     : 18px;
        font-weight   : 500;
        margin        : 0 0 5px 0;
        letter-spacing: .4px;
        word-spacing  : 3px;
        padding-bottom: 5px;
        color         : $red;
      }

      &-description {
        font-size  : 16px;
        font-weight: 400;

        img {
          display: inline-block;
        }
      }

      .top-bar__lang-item:first-child .top-bar__lang {
        margin-bottom: 10px;
      }

      .top-bar__lang-item:last-child .top-bar__lang {
        margin-bottom: 0;
      }
    }

    &__item-divider {
      top       : 0;
      right     : 0;
      width     : 1px;
      height    : 70px;
      background: #333;
      transform : rotate(-10deg);
    }

    &__logo {
      padding    : 0;
      margin-left: 15px;
      margin-top : 4px;
    }

    &__address {
      position: relative;

      a {
        @include link-styles;
      }

      .top-bar__item-description {
        font-weight: 500;
      }
    }

    .working-hours {
      position       : relative;
      display        : flex;
      flex-direction : row;
      justify-content: space-evenly;

      &__weekdays {
        margin-right: 40px;
      }

      &__days {
        font-weight  : 500;
        margin-bottom: 6px;
      }
    }

    &__phone-number {
      position: relative;

      .top-bar__item-heading {
        text-transform: uppercase;
        text-align    : center;
      }

      .top-bar__item-description {
        display        : flex;
        justify-content: center;
        align-items    : center;
        gap            : 5px;
      }

      a {
        @include link-styles;
      }

      .lifecell-logo,
      .copy-icon,
      .check-icon {
        display: none;
      }

      .lifecell-logo {
        margin-bottom: 2px;
        margin-right : 3px;
      }

      .copy-icon,
      .check-icon {
        margin-top : 1px;
        text-align : center;
        margin-left: 3px;
      }

      .copy-icon {
        color : #fff;
        cursor: pointer;

        &:hover {
          opacity: .7;
        }

        &:active {
          opacity: .6;
        }
      }
    }

    &__preferences {
      display      : flex;
      gap          : 20px;
      padding-right: 10px;
    }

    &__langs {
      position      : relative;
      display       : flex;
      flex-direction: column;
    }

    .top-bar__lang-item .top-bar__lang {
      // color      : $red;
      font-weight: 700;
      display    : inline-block;
      padding    : 0;

      &:hover {
        text-decoration: underline;
      }
    }

    .top-bar__lang.top-bar__lang_non-active {
      font-weight: 700;
      color      : $lightgray;
    }

    &__mode {
      margin: auto 0;
    }

    &__switch-mode-btn {
      background   : transparent;
      border       : 0;
      cursor       : pointer;
      padding      : 0;
      margin       : 0 5px;
      transition   : opacity .1s ease-in;
      border-radius: 10px;

      &:hover {
        opacity: .8;
      }

      &:last-child {
        &:hover {
          opacity: .6;
        }
      }

      &:last-child {
        display: none;
      }
    }

    &__mode-icon {
      margin-top: 5px;
    }
  }

  /* NAVITAION */

  &__nav {
    box-shadow: 0 0 5px $black;
    position  : relative;
  }

  &__list {
    display: flex;
    padding: 0;

    .list__item {
      text-align: center;
      flex-grow : 1;
    }

    .list__link {
      font-size     : 16px;
      font-weight   : 500;
      text-transform: uppercase;
      letter-spacing: .5px;
      display       : inline-block;
      padding       : 13px 0;
      width         : 100%;
      transition    : background .2s, box-shadow .2s, color .2s;

      &:hover {
        background-color: $red;
        box-shadow      : 0 0 10px $red;
        color           : $main-white-light-mode;
      }
    }
  }
}