@media (max-width: 1199px) {
  /* HEADER */

  .top-bar__item-divider:nth-child(3) {
    display: none;
  }

  .top-bar__working-hours.working-hours.top-bar__item {
    display: none;
  }

  /* MAIN */

  .main {
    .route {

      &__item {
        justify-content: center;

        &-title {
          display: none;
        }
      }

    }

    .location {
      background: $main-dark-lighter;
    }

    .reviews .reviews-list {
      justify-content: center;

      .review {
        flex-basis: 100%;

        &:last-child {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 940px) {
  /* HEADER */

  .top-bar__item-divider {
    display: none;
  }

  .top-bar__address {
    display: none;
  }

  /* MAIN */

  body.light-mode {
    .main {
      .route__address::after {
        content: none;
      }

      .schedule {
        &__wrapper {
          border-bottom: 2px solid $lightgray;
        }
      }
    }
  }

  .main {
    .section {
      &__description {
        padding: 0 35px;
      }
    }

    .route {
      &__wrapper {
        display: block;
      }

      .section__description {
        padding: 0 150px;
      }

      .schedule {
        &__wrapper {
          border-bottom: 2px solid $black;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  /* HEADER */

  body.light-mode {
    .header {
      box-shadow: 0 0 10px #aaa;
    }
  }

  .header {
    position  : relative;
    box-shadow: 0 0 10px $black;

    &__nav {
      display: none;
    }
  }

  /* MAIN */

  .main {
    .section__description {
      padding: 0 25px;
    }


    .route {
      .section__description {
        padding: 0 100px;
      }
    }

    .reviews {
      .reviews-list {
        flex-direction: column;

        .review {
          &:last-child {
            display: flex;
          }
        }
      }
    }
  }

  /* FOOTER */

  .footer {
    display: flex;
  }
}

@media (max-width: 685px) {
  /* MAIN */

  .main {
    .route {
      .section__description {
        padding: 0 50px;
      }
    }
  }
}

@media (max-width: 615px) {
  .header {
    .top-bar {
      padding: 10px 0 5px;

      &__phone-number {
        text-align: right;

        .lifecell-logo {
          left: -10px;
        }

        .copy-icon {
          display: none;
        }
      }

      &__item-description>span {
        display: none;
      }
    }
  }
}

@media (max-width: 555px) {

  /* MAIN */

  .main {
    .section {
      &__divider {
        display: none;
      }

      &__title {
        font-size: 38px;
      }

      &__description {
        padding: 0 20px;

        p {
          font-size: 20px;
        }
      }
    }

    .about-us {
      .section__description {
        font-size: 20px;
      }
    }

    .location {
      .section__description {
        padding: 0;
      }
    }

    .services {
      &__item {
        letter-spacing: .3px;
        font-size     : 16px;
        padding       : 15px 30px;
      }
    }

    .route {
      &__block-title {
        font-size: 25px;
        padding  : 15px 5px;
      }

      .section__description {
        padding: 0 20px;
      }
    }

    .reviews {
      .reviews-list {
        gap: 25px;

        .review {
          padding: 10px 20px 30px;

          &__name {
            font-size: 18px;
          }

          &__rating {
            width: 70px;
          }

          &__content {
            font-size: 16px;
          }
        }
      }

      &__more-reviews {
        width: 230px;
      }
    }
  }
}


@media (max-width: 530px) {
  /* HEADER */

  .top-bar__phone-number {
    display: none;
  }

  /* MAIN */
  .main {
    .about-us .about-us__description {
      .about-us__text {
        margin: 0 0 20px 0;
      }

      .about-us__contacts {
        display: block;
      }

      .about-us__divider {
        display: block;
      }
    }
  }
}

@media (max-width: 460px) {
  /* MAIN CONTENT */

  .main {
    .about-us .about-us__description {
      .about-us__text {
        font-size: 18px;
        padding  : 0 10px;
        margin   : 0 0 20px 0;
      }
    }

    .route {
      &__item {
        padding: 20px 0;
      }

      &__get-directions {
        width: 250px;

        font-size: 15px;
      }

      >&__icon {
        width: 20px;
      }

      &__map>iframe {
        height: 300px;
      }
    }

    .reviews {
      &__more-reviews {
        width: 200px;
      }
    }
  }
}

@media (max-width: 400px) {
  /* MAIN */

  .main {
    .route {
      &__address-link {
        font-size: 17px;
      }

      &__get-directions {
        width    : 240px;
        font-size: 14px;
      }

      &__icon {
        width: 20px;
      }
    }
  }
}

@media (max-width: 335px) {
  .main {
    .about-us .section__description {
      .about-us__contacts div {
        display : block;
        position: relative;
      }

      .lifecell-logo {
        display: none;
      }
    }

    .route {
      &__address-link {
        font-size: 16px;
      }
    }

    .reviews {
      &__more-reviews {
        width    : 180px;
        font-size: 14px;
      }
    }
  }
}