@mixin link-styles($hover: true) {
  font-weight  : 500;
  border-bottom: 2px solid $lightgray;
  transition   : border-bottom .2s ease-in-out;

  @if $hover {
    &:hover {
      border-bottom-color: $main-white;
    }
  }
}

@mixin link-styles-light-mode($hover: true) {
  font-weight  : 500;
  border-bottom: 2px solid $gray;
  transition   : border-bottom .2s ease-in-out;

  @if $hover {
    &:hover {
      border-bottom-color: $black-light-mode;
    }
  }
}

@mixin button-styles {
  width          : 280px;
  margin         : 0 auto;
  color          : $main-white-light-mode;
  background     : $red;
  display        : flex;
  justify-content: center;
  align-items    : center;
  font-size      : 16px;
  font-weight    : 500;
  text-transform : uppercase;
  text-align     : center;
  letter-spacing : .5px;
  padding        : 13px 0;
  border-radius  : 3px;
  box-shadow     : 0 0 5px $red;
  border         : 1px solid $red;
  transition     : background .2s, box-shadow .2s;

  &:hover {
    background: $red;
    box-shadow: 0 0 15px $red;
  }

  &:active {
    transform: scale(.97);
  }
}