$main-white-light-mode: #fcfcfc;
$main-white-light-mode-darker: #f0f2f4;

$main-white: #d4d5d7;
$main-white-darker: #cececf;

$main-dark: #1c1f22;
$main-dark-lighter: #202327;

$black: #151515;
$black-light-mode: #504f4f;

$gray: #595959;
$lightgray: #aaa;

$red: #e42124;
$dark-red: #c22427;
$logo-red: #821f20;

$yellow: #fbbc04;
